body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

/*my style sheet*/

.templateGroupCard{
    padding: 10px;
    color: white;
    background-color: #242424;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 40%
}

.templateGroupCard:hover{
    color: #df5028;
    transition-duration: 0.2s;
}

.ruleTemplateCard{
    padding: 10px;
    color: white;
    background-color: #2A2D40;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 40%
}

.ruleTemplateCard:hover{
    background-color: #007F7D;
    transition-duration: 0.2s;
}
